<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="autor" content="SergioPiedra">
<!-- description -->
<meta name="description" content="VideoTEC - Proyecto de Administración de Bases de Datos">
<!-- keywords -->
<meta name="keywords" content="creative, animation, business, photography, portfolio, one page, bootstrap responsive, start-up, ui/ux, html5, css3, studio, branding, creative design, multipurpose, parallax, personal, masonry, grid, coming soon, carousel, career">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>VideoTEC</title>
<link rel="shortcut icon" href="~/img/icon.png">

<!-- Core Style Sheets -->
<link rel="stylesheet" href="~/css/master.css">
<!-- Responsive Style Sheets -->
<link rel="stylesheet" href="~/css/responsive.css">
<!-- Revolution Style Sheets -->
<link rel="stylesheet" type="text/css" href="~/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="~/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="~/revolution/css/navigation.css">

</head>
<body>

<!--== Loader Start ==-->
<div id="loader-overlay">
  <div class="loader">
    <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
      <rect x="20" y="50" width="4" height="10" fill="#0fe1d4">
        <animateTransform attributeType="xml"
          attributeName="transform" type="translate"
          values="0 0; 0 20; 0 0"
          begin="0" dur="0.6s" repeatCount="indefinite" />
      </rect>
      <rect x="30" y="50" width="4" height="10" fill="#0fe1d4">
        <animateTransform attributeType="xml"
          attributeName="transform" type="translate"
          values="0 0; 0 20; 0 0"
          begin="0.2s" dur="0.6s" repeatCount="indefinite" />
      </rect>
      <rect x="40" y="50" width="4" height="10" fill="#0fe1d4">
        <animateTransform attributeType="xml"
          attributeName="transform" type="translate"
          values="0 0; 0 20; 0 0"
          begin="0.4s" dur="0.6s" repeatCount="indefinite" />
      </rect>
    </svg>
  </div>
</div>
<!--== Loader End ==-->

<!--== Wrapper Start ==-->
<div class="wrapper">

  <!--== Header Start ==-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">
    <div class="container">
      <!--== Start Atribute Navigation ==-->
      <div class="attr-nav hidden-xs sm-display-none">
        <ul class="social-media-dark social-top">
          <li><a href="#" class="icofont icofont-social-facebook"></a></li>
          <li><a href="#" class="icofont icofont-social-twitter"></a></li>
          <li><a href="#" class="icofont icofont-social-linkedin"></a></li>
        </ul>
      </div>
      <!--== End Atribute Navigation ==-->

      <!--== Start Header Navigation ==-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="tr-icon ion-android-menu"></i> </button>
        <div class="logo"> <a href="index.cshtml"> <img class="logo logo-display" src="~/img/logo-white.png" alt=""> <img class="logo logo-scrolled" src="~/img/logo-black.png" alt=""> </a> </div>
      </div>
      <!--== End Header Navigation ==-->
background-color: #3EADCF;
background-image: linear-gradient(315deg, #3EADCF 0%, #ABE9CD 74%);
      <!--== Collect the nav links, forms, and other content for toggling ==-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-center" data-in="fadeIn" data-out="fadeOut">
          <li><a class="page-scroll" href="#">Inicio</a></li>
          <li><a class="page-scroll" href="#nosotros">¿Quiénes Somos?</a></li>
          <li><a class="page-scroll" href="#productoras">Productoras</a></li>
          <li><a class="page-scroll" href="#contacto">Contacto</a></li>
          <li><a class="page-scroll" href="_Login">Ingresar</a></li>
        </ul>
      </div>
      <!--== /.navbar-collapse ==-->
    </div>
  </nav>
  <!--== Header End ==-->
  <!--== Hero Slider Start ==-->
  <section class="remove-padding transition-none">
    <div id="rev_slider_151_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="blur-effect-slider" data-source="gallery" style="background-color:#2d3032;padding:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
    	<div id="rev_slider_151_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
    <ul>	<!-- SLIDE  -->
    	<li data-index="rs-411" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="~/img/slides/home-bg-21-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    		<!-- MAIN IMAGE -->
    		<img src="~/img/videoTEC.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina>
    		<!-- LAYERS -->
    		<div id="rrzt_411" class="rev_row_zone rev_row_zone_top slider-creative" style="z-index: 9;">

    		<!-- LAYER NR. 1 -->
        <div class="hero-text-wrap">
          <div class="hero-text">
    		<div class="tp-caption  "
    			 id="slide-411-layer-14"
    			 data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
    			 data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
    						data-width="none"
    			data-height="none"
    			data-whitespace="nowrap"

    			data-type="row"
    			data-columnbreak="2"
    			data-basealign="slide"
    			data-responsive_offset="on"
    			data-responsive="off"
    			data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
    			data-margintop="[0,0,0,0]"
    			data-marginright="[0,0,0,0]"
    			data-marginbottom="[0,0,0,0]"
    			data-marginleft="[0,0,0,0]"
    			data-textAlign="['inherit','inherit','inherit','inherit']"
    			data-paddingtop="[0,100,50,50]"
    			data-paddingright="[100,50,40,40]"
    			data-paddingbottom="[0,0,0,0]"
    			data-paddingleft="[100,50,40,40]"

    			style="z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
    		<!-- LAYER NR. 2 -->
    		<div class="tp-caption  "
    			 id="slide-411-layer-15"
    			 data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
    			 data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
    						data-width="none"
    			data-height="none"
    			data-whitespace="nowrap"

    			data-type="column"
    			data-responsive_offset="on"
    			data-responsive="off"
    			data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-columnwidth="100%"
    			data-margintop="[0,0,0,0]"
    			data-marginright="[0,0,0,0]"
    			data-marginbottom="[0,0,0,0]"
    			data-marginleft="[0,0,0,0]"
    			data-textAlign="['inherit','inherit','center','center']"
    			data-paddingtop="[0,0,0,0]"
    			data-paddingright="[0,0,0,0]"
    			data-paddingbottom="[0,0,0,0]"
    			data-paddingleft="[0,0,0,0]"

    			style="z-index: 10; width: 100%;">
    		<!-- LAYER NR. 3 -->
        <div class="tp-caption   tp-resizeme  blurslider-gradient"
    			 id="slide-411-layer-1"
    			 data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
    			 data-y="['top','top','top','top']" data-voffset="['0','0','230','110']"
    						data-fontsize="['110','90','100','70']"
    			data-lineheight="['100','90','100','70']"
    			data-width="none"
    			data-height="none"
    			data-whitespace="nowrap"

    			data-type="text"
    			data-basealign="slide"
    			data-responsive_offset="on"

    			data-frames='[{"delay":"+290","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
    			data-margintop="[0,0,0,0]"
    			data-marginright="[0,0,0,0]"
    			data-marginbottom="[30,20,30,30]"
    			data-marginleft="[0,0,0,0]"
    			data-textAlign="['inherit','inherit','center','center']"
    			data-paddingtop="[0,0,0,0]"
    			data-paddingright="[0,0,40,40]"
    			data-paddingbottom="[0,0,0,0]"
    			data-paddingleft="[0,0,40,40]"

    			style="z-index: 11; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 700; color: rgba(255, 255, 255, 1.00); display: inline-block;font-family:'Montserrat', sans-serif;">Bienvenidos a<br/>VideoTEC </div>

    				</div>
    			</div>

            </div>
          </div>
    		</div>

    	</li>
    			style="z-index: 25;background-color:rgba(255, 255, 255, 0.05);border-color:rgba(0, 0, 0, 0);cursor:pointer;"> </div>
    </div>
    <div class="tp-bannertimer" style="height: 5px; background-color: rgba(255, 255, 255, 0.25);"></div>	</div>
    </div><!-- END REVOLUTION SLIDER -->
  </section>
  <!--== Hero Slider End ==-->

  <!--== Who We Are Start ==-->
  <section class="dark-bg" id="nosotros">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 xs-mb-30 wow fadeInLeft" data-wow-delay="0.1s">
          <h2 class="mt-0 font-700 white-color">En VideoTEC somos historia, vendemos nostalgia.</h2>
        	<hr class="left-line default-bg bold-line">
          <p class="mt-30 font-300 font-16px">Somos la principal tienda de alquiler de películas a nivel mundial, con más de 2000 locales activos.</p>
        	<p class="mt-30 font-300 font-16px">Trabajamos con las principales productoras del mundo para preservar la historia de una pelicula en edición fisica.</p>
          <a class="btn btn-md btn-color btn-square mt-20">Conocer Más</a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="row">
              <div class="col-md-12 feature-box text-left mb-20 col-sm-6 col-lg-6 wow fadeInRight" data-wow-delay="0.1s">
              <div class="pull-left"><i class="icon-mobile font-40px default-color mt-40"></i></div>
              <div class="pull-right">
                <span class="font-80px default-color">01</span>
                <h5 class="mt-0 font-600 white-color">Portabilidad</h5>
                <p class="font-300">Todas nuestras películas vienen en FlashDrive. </p>
               </div>
              </div>
              <div class="col-md-12 feature-box text-left mb-20 col-sm-6 col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
              <div class="pull-left"><i class="icon-caution font-40px default-color mt-40"></i></div>
              <div class="pull-right">
                <span class="font-80px default-color">02</span>
                <h5 class="mt-0 font-600 white-color">0 Comisiones</h5>
                <p class="font-300">Nosotros no te cobramos comisiones.</p>
              </div>
              </div>
              <div class="col-md-12 feature-box text-left mb-20 col-sm-6 col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
              <div class="pull-left"><i class="icon-aperture font-40px default-color mt-40"></i></div>
              <div class="pull-right">
                <span class="font-80px default-color">03</span>
                <h5 class="mt-0 font-600 white-color">IMAX</h5>
                <p class="font-300">Todas nuestras películas están en formato IMAX.</p>
              </div>
              </div>
              <div class="col-md-12 feature-box text-left mb-20 col-sm-6 col-lg-6 wow fadeInRight" data-wow-delay="0.4s">
              <div class="pull-left"><i class="icon-heart font-40px default-color mt-40"></i></div>
              <div class="pull-right">
                <span class="font-80px default-color">04</span>
                <h5 class="mt-0 font-600 white-color">Experiencia</h5>
                <p class="font-300">Sienta la experiencia de ver una pelicula en su formato original.</p>
              </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!--== Who We Are End ==-->

  <!--== productoras Start ==-->
  <section class="white-bg" id="productoras">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
          <div class="white-bg text-center display-table mb-30 full-width client-logo-height">
              <div class="v-align-middle">
                <a href="#"><img src="~/img/productoras/1.png" alt="01"/></a>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
          <div class="white-bg text-center display-table mb-30 full-width client-logo-height">
              <div class="v-align-middle">
                <a href="#"><img src="~/img/productoras/2.png" alt="01"/></a>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
          <div class="white-bg text-center display-table mb-30 full-width client-logo-height">
              <div class="v-align-middle">
                <a href="#"><img src="~/img/productoras/3.png" alt="01"/></a>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
          <div class="white-bg text-center display-table mb-30 full-width client-logo-height">
              <div class="v-align-middle">
                <a href="#"><img src="~/img/productoras/4.png" alt="01"/></a>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
          <div class="white-bg text-center display-table mb-30 full-width client-logo-height">
              <div class="v-align-middle">
                <a href="#"><img src="~/img/productoras/5.png" alt="02"/></a>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
          <div class="white-bg text-center display-table mb-30 full-width client-logo-height">
              <div class="v-align-middle">
                <a href="#"><img src="~/img/productoras/6.png" alt="03"/></a>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
          <div class="white-bg text-center display-table mb-30 full-width client-logo-height">
              <div class="v-align-middle">
                <a href="#"><img src="~/img/productoras/7.png" alt="04"/></a>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.5s">
          <div class="white-bg text-center display-table mb-30 full-width client-logo-height">
              <div class="v-align-middle">
                <a href="#"><img src="~/img/productoras/8.png" alt="05"/></a>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
          <div class="white-bg text-center display-table mb-30 full-width client-logo-height">
              <div class="v-align-middle">
                <a href="#"><img src="~/img/productoras/9.png" alt="06"/></a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== productoras End ==-->

  <!--== Contact Info Start ==-->
  <section>
    <div class="container">
      <div class="row service-box-style-02">
        <div class="col-md-4 col-sm-4 col-xs-12 xs-mb-30">
          <div class="col-inner dark-bg feature-box full-width">
              <div class="icon-heading">
				<i class="icon-map-pin font-40px default-color"></i>
        		<h5 class="white-color font-600">Dirección</h5>
              </div>
              <div class="hidden-content white-color">
      			 <p>Universidad Nacional SRCH<br> Campus Nicoya</p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 xs-mb-30">
          <div class="col-inner dark-bg feature-box full-width">
              <div class="icon-heading">
				<i class="icon-chat font-40px default-color"></i>
        		<h5 class="white-color font-600">Llámanos ahora</h5>
              </div>
              <div class="hidden-content white-color">
				<p>Tel:+506 22222222<br>Tel:+506 22222222</p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 xs-mb-30">
          <div class="col-inner dark-bg feature-box full-width">
              <div class="icon-heading">
				<i class="icon-envelope font-40px default-color"></i>
        		<h5 class="white-color font-600">Envíenos un Email</h5>
              </div>
              <div class="hidden-content">
				<p><a class="white-color" href="#.">soporte@videotec.com</a><br><a class="white-color" href="#.">info@videotec.com</a></p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== Contact Info End ==-->

  <!--== Google Maps Start ==-->
  <section class="white-bg transition-none pt-0 pb-0">
    <div class="container-fluid">
    	  <div class="row">
          <div id="myMap" class="wide"></div>
        </div>
    </div>
  </section>
  <!--== Google Maps End ==-->

  <!--== Contact Form Start ==-->
  <section class="dark-bg" id="contacto">
    <div class="container">
    	<div class="row">
        	<div class="col-sm-8 section-heading white-color">
              <h2 class="mt-0 font-700">Hable con nosotros</h2>
              <hr class="center_line default-bg bold-line">
        	</div>
        </div>
        <div class="row mt-50">
            <div class="col-md-12">
              <form name="contact-form" id="contact-form" action="php/contact.php" method="POST" class="contact-form-style-04">
                <div class="messages"></div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label class="sr-only" for="name">Nombre</label>
                      <input type="text" name="name" class="md-input style-02" id="name" placeholder="Nombre *" required data-error="Nombre Requerido">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label class="sr-only" for="email">Email</label>
                      <input type="email" name="email" class="md-input style-02" id="email" placeholder="Email *" required data-error="Email invalido">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                    	<label class="sr-only" for="subject">Asunto</label>
                    	<input type="text" name="subject" class="md-input style-02" id="subject-2" placeholder="Asunto">
                	  </div>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                      <label class="sr-only" for="message">Mensaje</label>
                      <textarea name="message" class="md-textarea style-02" id="message" rows="7" placeholder="Mensaje" required data-error="Por favor, deje un mensaje"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <div class="text-left mt-20">
                      <button type="submit" name="submit" class="btn btn-color btn-md btn-square btn-animate remove-margin"><span>Enviar mensaje <i class="ion-android-arrow-forward"></i></span></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
  </section>
  <!--== Contact Form End ==-->

  <!--== Social Icons Start ==-->
  <section class="grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-10 col-xs-10 centerize-col text-center social-icons-style-09">
              <ul class="xl-icon mb-0">
                <li><a class="facebook" href="#."><i class="icofont icofont-social-facebook"></i></a></li>
                <li><a class="twitter" href="#."><i class="icofont icofont-social-twitter"></i></a></li>
                <li><a class="behance" href="#."><i class="icofont icofont-social-behance"></i></a></li>
                <li><a class="google-plus" href="#."><i class="icofont icofont-social-google-plus"></i></a></li>
              </ul>
            </div>
        </div>
    </div>
  </section>
  <!--== Social Icons End ==-->

  <!--== Footer Start ==-->
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="copy-right text-left">© 2020 VideoTEC - Proyecto de Administración de Bases de Datos</div>
          </div>
          <div class="col-md-6 col-xs-12">
            <ul class="social-media">
              <li><a href="#" class="icofont icofont-social-facebook"></a></li>
			  <li><a href="#" class="icofont icofont-social-twitter"></a></li>
			  <li><a href="#" class="icofont icofont-social-behance"></a></li>
			  <li><a href="#" class="icofont icofont-social-dribble"></a></li>
           	  <li><a href="#" class="icofont icofont-social-linkedin"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== Footer End ==-->

  <!--== Go to Top  ==-->
  <a href="javascript:" id="return-to-top"><i class="icofont icofont-arrow-up"></i></a>
  <!--== Go to Top End ==-->

</div>
<!--== Wrapper End ==-->

<!--== Javascript Plugins ==-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJNGOwO2hJpJ9kz8e0UUPjZhEbgDJTTXE"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/smoothscroll.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/master.js"></script>

<!-- Revolution js Files -->
<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="revolution/js/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="revolution/js/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="revolution/js/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="revolution/js/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="revolution/js/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="revolution/js/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="revolution/js/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="revolution/js/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="revolution/js/revolution.extension.video.min.js"></script>
<!--== Javascript Plugins End ==-->

</body>
</html>