@model IEnumerable<WebAppBD.Models.Roles>

@{
    ViewData["Title"] = "Index";
}

<h1>Registros de Roles</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Registro</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Descripcion:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdRol">Edit</a> |
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.IdRol">Details</a> |
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.IdRol">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
