@model WebAppBD.Models.ListaEspera

@{
    ViewData["Title"] = "Create";
}

<h1>Ingresar nuevo registro en lista de espera</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CantidadSocios" class="control-label"></label>
                <input asp-for="CantidadSocios" class="form-control" />
                <span asp-validation-for="CantidadSocios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoEspera" class="control-label"></label>
                <input asp-for="TiempoEspera" class="form-control" />
                <span asp-validation-for="TiempoEspera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFicha" class="control-label"></label>
                <select asp-for="IdFicha" class ="form-control" asp-items="ViewBag.IdFicha"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Atrás</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
