@model WebAppBD.Models.ListaEspera

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle lista de espera</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cantidad Socios:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadSocios)
        </dd>
        <dt class="col-sm-2">
            Tiempo Espera:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoEspera)
        </dd>
        <dt class="col-sm-2">
            IdFicha:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFichaNavigation.Pelicula)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.IdListaEspera">Editar</a> |
    <a class="btn btn-success" asp-action="Index">Atrás</a>
</div>
