@model WebAppBD.Models.Ficha

@{
    ViewData["Title"] = "Edit";
}

    <h1>Editar Ficha</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFicha" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label">Fecha:</label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumCinta" class="control-label">Número de Cinta:</label>
                <input asp-for="NumCinta" class="form-control" />
                <span asp-validation-for="NumCinta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pelicula" class="control-label">Película:</label>
                <input asp-for="Pelicula" class="form-control" />
                <span asp-validation-for="Pelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoSocio" class="control-label">Código de Socio:</label>
                <select asp-for="CodigoSocio" class="form-control" asp-items="ViewBag.CodigoSocio"></select>
                <span asp-validation-for="CodigoSocio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPeliPrestada" class="control-label">Id de Película Prestada:</label>
                <select asp-for="IdPeliPrestada" class="form-control" asp-items="ViewBag.IdPeliPrestada"></select>
                <span asp-validation-for="IdPeliPrestada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPeliDevuelta" class="control-label">Id de Película Devuelta:</label>
                <select asp-for="IdPeliDevuelta" class="form-control" asp-items="ViewBag.IdPeliDevuelta"></select>
                <span asp-validation-for="IdPeliDevuelta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPeliPorTitulo" class="control-label">Id de Película por Título:</label>
                <select asp-for="IdPeliPorTitulo" class="form-control" asp-items="ViewBag.IdPeliPorTitulo"></select>
                <span asp-validation-for="IdPeliPorTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFichaSocio" class="control-label">Id de Ficha Socio:</label>
                <select asp-for="IdFichaSocio" class="form-control" asp-items="ViewBag.IdFichaSocio"></select>
                <span asp-validation-for="IdFichaSocio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Atrás</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
