@model WebAppBD.Models.ArchiPeliPorTitulo

@{
    ViewData["Title"] = "Create";
}

    <h1>Ingresar Nueva Película por Título</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label">Título</label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracion" class="control-label">Duración</label>
                <input asp-for="Duracion" class="form-control" />
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumCintas" class="control-label">Número de Cinta</label>
                <input asp-for="NumCintas" class="form-control" />
                <span asp-validation-for="NumCintas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label">Género</label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actores" class="control-label">Actor</label>
                <input asp-for="Actores" class="form-control" />
                <span asp-validation-for="Actores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Directores" class="control-label">Director</label>
                <input asp-for="Directores" class="form-control" />
                <span asp-validation-for="Directores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Atrás</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
